fastapi
uvicorn
pandas
numpy
matplotlib
seaborn
langgraph
crewai
langchain-google-genai
jinja2
requests
python-dotenv
litellm
scikit-learn
xgboost
joblib
category-encoders
optuna
imbalanced-learn
numba>=0.56.0
llvmlite>=0.39.0
shap>=0.42.1
pydantic
