fastapi
uvicorn
pandas
numpy
matplotlib
seaborn
langgraph
crewai
langchain-google-genai
jinja2
requests
python-dotenv
litellm
scikit-learn
xgboost
joblib
category-encoders
optuna
imbalanced-learn
shap
langchain-google-genai
