category-encoders
crewai
fastapi
imbalanced-learn
jinja2
joblib
langchain-google-genai
langgraph
litellm
llvmlite
matplotlib
numba
numpy
optuna
pandas
pydantic
python-dotenv
requests
scikit-learn
seaborn
shap
uvicorn
xgboost
